#container {
    display: flex;  
}

.divMouseEnter {
    background-color: black;
    display: flex;
    flex: 1
}

/* div {
    display: flex;
    flex-direction: column;
    flex: auto
} */

.divColumn {
    display: flex;
    flex-direction: column;
    flex: 1
}

.divSub {
    display: flex;
    flex: 1
}